<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZCBCustomPageControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFB2F8141F46CFA5001D98A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB2F82D1F46CFA5001D98A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB2F8381F46CFA5001D98A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
